<div class="grid-item" id="{{id}}" >
  <div class="grid-item_img-box">
    <img class="grid-item_img" src="{{src}}" alt="photo">
  </div>
  <button class="grid-item_btn" type="button" data-id="{{id}}" data-type="delete"></button>
</div>
